1.Create the below table and execute the insert, update and the below select statements.

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Database created succesfully")
conn.execute('''CREATE TABLE CHEF123
 (ID INT PRIMARY KEY NOT NULL,
 NAME char(400) NOT NULL,
 DESCRIPTION TEXT NOT NULL,
 CATEGORY_ID INT NOT NULL,
 CHEF_ID INT NOT NULL,
 CREATED DATETIME)''')
print("Table created successfully")
conn.close()

Database created succesfully
Table created successfully

In [33]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO CHEF123 VALUES (1,'PAV-BHAJI','INDIAN',25,1020,'2021-10-25 12:10::34')")
conn.execute("INSERT INTO CHEF123 VALUES (2,'FRIES','FRENCH',32,1050,'2021-08-15 08:10:24')")
conn.execute("INSERT INTO CHEF123 VALUES (3,'NOODLES','CHINESE',29,1030,'2021-03-09 16:30:12')")
conn.commit()
print("Records created")
conn.close()

Records created

i) Write a query to display the total number of recipes available with the description
“Chinese”

In [34]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT * FROM CHEF123 where DESCRIPTION='CHINESE'")

for i in cursor:
    print(i)

(3, 'NOODLES', 'CHINESE', 29, 1030, '2021-03-09 16:30:12')

ii) Write a query to display the id, name of the recipes with chef_id '1050'.

In [37]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT ID, NAME ,CHEF_ID FROM CHEF123 where CHEF_ID=1050")

for i in cursor:
    print(i)

(2, 'FRIES', 1050)

iii) Write a query to display the description of the recipes whose name begins with 'P'.

In [53]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT DESCRIPTION FROM CHEF123 where NAME like 'P%'")

for i in cursor:
    print(i)

('INDIAN',)

2.Create a table movie of the below structure and assume data types.Movie_ID,
Movie_Name, Genre, Language, Rating ,Do the following queries

In [3]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Database created succesfully")
conn.execute('''CREATE TABLE MOVIEINF
 (MOVIE_ID INT PRIMARY KEY NOT NULL,
 MOVIE_NAME char(400) NOT NULL,
 GENRE TEXT NOT NULL,
 LANGUAGE char(50) NOT NULL,
 RATINGS REAL NOT NULL)''')
print("Table created successfully")
conn.close()

Database created succesfully
Table created successfully

In [4]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO MOVIEINF VALUES (004,'Avengers:AOU','ACTION','ENGLISH',4.5)")
conn.execute("INSERT INTO MOVIEINF VALUES (102,'Stree','HORROR','HINDI',3.1)")
conn.execute("INSERT INTO MOVIEINF VALUES (304,'Parasite','THRILLER','KOREAN',4.2)")
conn.commit()
print("Records created")
conn.close()

Records created

a. Update the movies rating by 10% and display it

In [6]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute("UPDATE MOVIEINF set RATINGS = RATINGS+(RATINGS*0.1)")
conn.commit()
print("Total number of rows updated :", conn.total_changes)

Opened database successfully
Total number of rows updated : 3

In [7]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT * FROM MOVIEINF")

for i in cursor:
    print(i)

(4, 'Avengers:AOU', 'ACTION', 'ENGLISH', 4.95)
(102, 'Stree', 'HORROR', 'HINDI', 3.41)
(304, 'Parasite', 'THRILLER', 'KOREAN', 4.62)

b. Delete the movies with movie_id 102

In [9]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute("DELETE from MOVIEINF where MOVIE_ID = 102;")
conn.commit()

cursor=conn.execute("SELECT * FROM MOVIEINF")

for i in cursor:
    print(i)

Opened database successfully
(4, 'Avengers:AOU', 'ACTION', 'ENGLISH', 4.95)
(304, 'Parasite', 'THRILLER', 'KOREAN', 4.62)

c. Select movies whose rating is more than 4.

In [10]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT * FROM MOVIEINF where RATINGS>=4")

for i in cursor:
    print(i)

(4, 'Avengers:AOU', 'ACTION', 'ENGLISH', 4.95)
(304, 'Parasite', 'THRILLER', 'KOREAN', 4.62)

3.Create a course database with the following fields Product(ID, Prod_name,
Supplier_id,Unit_price,Package,OrderID),OrderItem(ID,Order_id,Product_id,Unit_price,
Quantity) using Foreign key

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Database created succesfully")
conn.execute('''CREATE TABLE PRODUCT
 (ID INT PRIMARY KEY NOT NULL,
 PROD_NAME TEXT NOT NULL,
 SUPPLIER_ID INT NOT NULL,
 UNIT_PRICE REAL NOT NULL,
 PACKAGE TEXT NOT NULL,
 ORDER_ID INT NOT NULL)''')
print("Table created successfully")
conn.close()

Database created succesfully
Table created successfully

In [1]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO PRODUCT VALUES (1001,'BISCUITS',21011,75.00,'KELLOGS',123)")
conn.execute("INSERT INTO PRODUCT VALUES (1350,'LAYS',30020,50.00,'PARLE',109)")
conn.execute("INSERT INTO PRODUCT VALUES (1203,'CAKE',56700,150.00,'HUL',203)")
conn.commit()
print("Records created")
conn.close()

Records created

In [3]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Database created succesfully")
conn.execute('''CREATE TABLE ORDERITEM
 (ID INT PRIMARY KEY NOT NULL,
 ORDER_ID INT NOT NULL,
 PRODUCT_ID INT NOT NULL,
 UNIT_PRICE REAL NOT NULL,
 QUANTITY INT NOT NULL,
 FOREIGN KEY(ORDER_ID) REFERENCES PRODUCT (ORDER_ID),
 FOREIGN KEY(PRODUCT_ID) REFERENCES PRODUCT (ID))''')
print("Table created successfully")
conn.close()

Database created succesfully
Table created successfully

In [4]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO ORDERITEM VALUES (134,109,1350,50.00,4)")
conn.execute("INSERT INTO ORDERITEM VALUES (123,203,1203,150.00,6)")
conn.execute("INSERT INTO ORDERITEM VALUES (101,123,1001,75.00,5)")
conn.commit()
print("Records created")
conn.close()

Records created

4.Write a SQL lite3 statement to create a table named as job including columns
job_id,job_title,Min-salary,Max_salary.job_id column does not contain any duplicate
value at the time of insertion

In [1]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Database created succesfully")
conn.execute('''CREATE TABLE JOB123
 (JOB_ID INT PRIMARY KEY NOT NULL,
 JOB_TITLE TEXT NOT NULL,
 MIN_SAL REAL NOT NULL,
 MAX_SAL REAL NOT NULL)''')
print("Table created successfully")
conn.close()

Database created succesfully
Table created successfully

In [3]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO JOB123 VALUES (1002,'MANAGER',60000.00,75000.00)")
conn.execute("INSERT INTO JOB123 VALUES (1034,'SE-I',40000.00,52000.00)")
conn.execute("INSERT INTO JOB123 VALUES (1102,'HR',25000.00,37000.00)")
conn.commit()
print("Records created")
conn.close()

Records created

In [4]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT * FROM JOB123")

for i in cursor:
    print(i)

(1002, 'MANAGER', 60000.0, 75000.0)
(1034, 'SE-I', 40000.0, 52000.0)
(1102, 'HR', 25000.0, 37000.0)

5.Write a SQL lite3 statement to create a table names as job_history including columns
employee_id, start_date, end_date, job_id and department_id and make sure that, the
employee_id column does not contain any duplicate value at the time of insertion and the
foreign key column job_id contain only those values which are exists in the jobs table.

In [10]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Database created succesfully")
conn.execute('''CREATE TABLE EMP123
 (EMP_ID INT PRIMARY KEY NOT NULL,
 START_DATE DATE NOT NULL,
 END_DATE DATE NOT NULL,
 JOB_ID INT NOT NULL,
 DEP_ID INT NOT NULL,
 FOREIGN KEY(JOB_ID) REFERENCES JOB123 (JOB_ID))''')
print("Table created successfully")
conn.close()

Database created succesfully
Table created successfully

In [17]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO EMP123 VALUES (1901,'2019-10-13','2021-09-14',1002,901)")
conn.execute("INSERT INTO EMP123 VALUES (2004,'2020-04-12','2020-10-12',1034,854)")
conn.execute("INSERT INTO EMP123 VALUES (2109,'2021-09-04','2022-05-09',1034,855)")
conn.commit()
print("Records created")
conn.close()

Records created

In [18]:
import sqlite3
conn =sqlite3.connect('test.db')
cursor=conn.execute("SELECT * FROM EMP123")

for i in cursor:
    print(i)

(1901, '2019-10-13', '2021-09-14', 1002, 901)
(2004, '2020-04-12', '2020-10-12', 1034, 854)
(2109, '2021-09-04', '2022-05-09', 1034, 855)